/*
============================================
Title: Global CSS for Web 330
File Name: Site.css
Author: Professor Krasso
Modified By: Saw Phaung
Date: Jan 07, 2021
===========================================
*/

/* Container  */
#container {
  margin: 50px 100px 0;
}

#icon-mode {
  margin-bottom: 10px;
}

#icon-mode:hover {
  cursor: pointer;
}

#icon-text {
  padding-left: 10px;
}

.pull-right {
  float: right;
}

h1 {
  clear: both;
}

.app-header {
  text-align: center;
  font-weight: 400;
  border: none;
  color: inherit;
  background-color: inherit;
}

.form {
  display: inline-grid;
  grid-template-columns: auto;
}

.form-field {
  padding: 20px 0;
  margin: 15px 0;
}

.full-width {
  width: 100%;
}

.assign-container {
  padding: 10px;
}

.assign-content {
  width: 600px;
  margin: 3% auto 0;
}

.assign-results-text {
  text-align: center;
  font-size: 28px;
}

#container {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

#card-example,
#form-example,
#form-results-example {
  width: 600px;
  margin: 3% auto 0;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  margin: 25px auto;
}

.card-content {
  text-align: center;
  font-size: 22px;
}

.form-field input {
  height: 35px;
  width: 220px;
  font-family: inherit;
  letter-spacing: 0.05em;
  margin-left: 3px;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
