/*
============================================
Title: WhatABook App
File Name: phaung-whatabook2.css
Author: Professor Krasso
Modified By: Saw Phaung
Date: Feb 27, 2021
===========================================
*/

#container {
  width: 100%;
  max-width: 800px;
}

#bookTable {
  width: 100%;
}

#bookTable tr td {
  padding: 5px 10px;
  text-align: left;
}
