/*
============================================
Title: Restaurant Styling CSS
File Name: phaung-restaurant.css
Author: Professor Krasso
Modified By: Saw Phaung
Date: Jan 17, 2021
===========================================
*/
